/* Reset
-------------------------*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


HTML {
  font-size: 100.01%;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
}

DFN,
I,
CITE,
VAR,
ADDRESS,
EM {
  font-style: normal;
}

TH,
H1,
H2,
H3,
H4,
H5,
H6 {
  font-weight: normal;
}

TEXTAREA,
INPUT,
SELECT {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

SMALL {
  font-size: 0.85em;
}

OL,
UL {
  list-style: none;
}

TABLE {
  border-collapse: collapse;
  border-spacing: 0;
}

CAPTION,
TH,
TD {
  text-align: left;
}

:focus {
  outline: none;
}

SUP,
SUB {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  font-size: 0.85em;
}

SUB {
  top: 0.5em;
}
